@font-face {
  font-family: 'Adobe-Arabic-Bold';
  font-display: swap;
  src: local('Adobe-Arabic-Bold'),
       url('Adobe Arabic Bold.otf') format('opentype'),
       url('Adobe Arabic Bold.woff') format('woff'),
       url('Adobe Arabic Bold.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'Adobe-Arabic-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
