@font-face {
  font-family: 'Saudi-Bold';
  font-display: swap;
  src: local('Saudi-Bold'),
       url('Saudi-Bold.ttf') format('truetype'),
       url('Saudi-Bold.woff') format('woff'),
       url('Saudi-Bold.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'Saudi-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
