@font-face {
  font-family: 'UthmanTSBVer1';
  font-display: swap;
  src: local('UthmanTSBVer1'),
       url('UthmanTSBVer1.ttf') format('truetype'),
       url('UthmanTSBVer1.woff') format('woff'),
       url('UthmanTSBVer1.woff2') format('woff2');
  /* Fallback font stack */
  /* font-family: 'UthmanTSBVer1', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
}
